<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
      <span id="menu-text">menu</span>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li *ngFor = "let item of userAccessibleMenu">
        <a [routerLink]="item.toString()"><mat-icon>{{getIcon(item)}}</mat-icon><span fxHide.lt-md >{{item}}</span></a>
      </li>

    </ul>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <div style="color:#ebe2b5" *ngIf="username">
        Logged as: {{username}}
        <button style="margin-left: 5px" (click)="logout()">Logout</button>
      </div>
    </ul>
  </div>
</mat-toolbar>
