<mat-toolbar color="primary">
  <div style="all:inherit" fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Menu</span>
  </div>
  <div style="all:inherit" fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
    <div fxLayout fxLayoutGap="15px" class="navigation-items">
      <a *ngFor = "let item of userAccessibleMenu" [routerLink]="item">
        <mat-icon>{{getIcon(item)}}</mat-icon>
        <span fxHide.lt-md >{{item}}</span>
      </a>
    </div>


  </div>
  <div style="all:inherit" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <div style="color:#ebe2b5" *ngIf="username">
        Logged as: {{username}}
        <button style="margin-left: 5px" (click)="logout()">Logout</button>
      </div>
    </ul>
  </div>
</mat-toolbar>
