
<form class="bordered" [formGroup]= "form" (ngSubmit)="onSubmit()">
  <h2>Add new connection</h2>
  <div class="grid-parent">

    <label>From station</label>
    <input type="text" formControlName="fromStation">
    <label>To station</label>
    <input type="text" formControlName="toStation">
    <label>Time</label>
    <input type="time" step="60" formControlName="time">
    <label>Train</label>
    <select formControlName="train" [style.color]="loadingData? 'red': 'black'">
      <option *ngIf="loadingData" >Loading data...</option>
      <option *ngFor="let train of trains | keyvalue" [ngValue]="train.key">{{train.value}}</option>
    </select>
  </div>
  <button type="submit">Add</button>
  <p [class]="statusClass" *ngIf="showStatus">{{statusMessage}}</p>


</form>
