

.connections-parent {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  border: 3px solid yellowgreen;
  padding: 10px;
  border-radius: 10px;
  min-height: 200px;
  position:relative;
}


.results {
  margin:20px;
}

