<h1 class="header" *ngIf="tickets.length">Tickets history:</h1>
<div class="bordered" *ngFor="let ticket of tickets">
  <h2>Ticket</h2>
  <p>From station : {{ticket.connection.fromStation}}</p>
  <p>To Station: {{ticket.connection.toStation}}</p>
  <p>Date time: {{ticket.travelDate |date: dateFormat}} {{ticket.connection.time}}</p>
  <p>Ticket type: {{ticket.ticketType}}</p>
  <button class="submit">Open</button>
</div>
<div *ngIf="!dataLoaded"><h3 class="center">Loading data...</h3></div>
<div *ngIf="!tickets.length && dataLoaded"><h1 class="center">No tickets bought for this user.</h1></div>



