<h1 class="header" *ngIf="tickets.length">Tickets history:</h1>
<app-progress-spinner [shouldDisplay]="loadingData"></app-progress-spinner>
<div class="bordered" *ngFor="let ticket of tickets">
  <h2>Ticket</h2>
  <p>From station : {{ticket.connection.fromStation}}</p>
  <p>To Station: {{ticket.connection.toStation}}</p>
  <p>Date time: {{ticket.travelDate |date: dateFormat}} {{ticket.connection.time}}</p>
  <p>Ticket type: {{ticket.ticketType}}</p>
  <button class="submit" (click)="openTicket(ticket)">Open</button>
</div>

<div *ngIf="!tickets.length && loadingData"><h1 class="center">No tickets bought for this user.</h1></div>



