.ticket-spinner {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  transform: translate(30%, 30%);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height:   200px;
}

.header{
  margin-left: 10px;
}
