.error{
  width: 60%;
  height: 60%;
  background-color: rgba(255, 0, 0, 0.62);
  margin: auto;
  position: absolute;
  top: 20%;
  left: 20%;
  text-align: center;
  border-radius: 20px;
}

.header {

  margin-top: 15%;
}

