<form id="loginForm" *ngIf="!showRegisterForm" class="bordered" [formGroup]= "loginForm" (ngSubmit)="onSubmitLogin()">
  <h2>Log in</h2>

  <div class="grid-parent">
    <label>Username</label>
    <input type="text" formControlName="username">
    <label>Password</label>
    <input type="password" formControlName="password">
  </div>
  <button class="submit btn-main" type ="submit">Login</button>
  <button class="submit btn-secondary" (click)="openRegister()">Go to register</button>
  <p *ngIf="showStatus" [class] ="statusClass">{{statusMessage}}</p>
</form>
<form id="registerForm" *ngIf="showRegisterForm" class="bordered" [formGroup]= "registerForm" (ngSubmit)="onSubmitRegister()">
  <h2>Register new account</h2>

  <div class="grid-parent">
    <label>Username</label>
    <input type="text" formControlName="username">
    <label>Password</label>
    <input type="password" formControlName="password">
    <Label>First name:</Label>
    <input type="text" formControlName="firstName">
    <Label>Last name:</Label>
    <input type="text" formControlName = "lastName">
    <label>Email:</label>
    <input type="text" formControlName = "email">
    <label>Phone number (start with+48):</label>
    <input type="text" formControlName = "phoneNumber">
  </div>
  <button class="submit btn-main" type="submit">Register</button>
  <button class="submit btn-secondary" (click)="goToLogin()">Go to login</button>
  <p *ngIf="showStatus" [class]="statusClass">{{statusMessage}}</p>


</form>
