
<div class="bordered" style="height: 300px; width: 300px; position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);">
  <app-progress-spinner [shouldDisplay]="waitingForQrCodeResponse"></app-progress-spinner>
  <zxing-scanner *ngIf="!scanFinished" (scanSuccess)="scanSuccess($event)"></zxing-scanner>

  <div *ngIf="ticketData && ticketData.isValid">
    <p>FirstName: {{ticketData.firstName}}</p>
    <p>LastName: {{ticketData.lastName}}</p>
    <p>Date: {{ticketData.date}}</p>
    <p>Time: {{ticketData.time}}</p>
    <p>TicketType: {{ticketData.ticketType}}</p>
    <p>FromStation: {{ticketData.fromStation}}</p>
    <p>ToStation: {{ticketData.toStation}}</p>
  </div>
  <p *ngIf="ticketData && !ticketData.isValid" class="error-message">Invalid qr code</p>
  <button (click)="reset()">Scan again</button>
</div>
