.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.wrapper {
  margin: 20px;
  padding:10px;
  background-color: #519bb5;
  border-radius: 10px;
  overflow-x: scroll;
}

.flex-parent{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.flex-child {
  flex-shrink: 0;
  width: 40%;
  height:400px;
  overflow-y: scroll;
}

.img-block {
  margin-top: 0px;
  background-color: rgb(11,2, 45);
}
